// ——————————— UI Basics ——————————— //
.ui
	cursor: pointer
	@at-root #{&}__button
		width: 100%
		height: 100%
		stroke: $white
		stroke-width: 1
		fill: $white
		background: $bgTransparent
		@at-root #{&}--hamburger
			display: none
		@at-root #{&}--arrow
			display: block
	@at-root #{&}__navigationPulldown
		display: block
		width: $standardWidth
		height: $standardWidth
		position: absolute
		top: $standardHeight * $navigationItemCount
		right: 50vw - $standardWidth * .5
		+animate(top, .4s)
		&.beforeLoad
			top: $standardHeight * ($navigationItemCount - 1)
	@at-root #{&}__navArrow
		stroke: $white
		stroke-width: 1
		fill: $white
		height: $standardWidth
		width: $standardWidth
		max-height: $standardHeight - 3
		max-width: $standardHeight - 3
		display: inline-block
	@at-root #{&}__aboutArrow
		stroke: $white
		stroke-width: 1
		fill: $white
		width: $standardWidth
		height: $standardWidth
		max-height: $standardHeight + 2
		max-width: $standardHeight + 2
		transform: rotate(0deg)
		+animate(all, .3s)
		transition-timing-function: ease-in
		display: inline-block
		&.rotated
			transform: rotate(-180deg)
	@at-root #{&}__externalContact
		opacity: 1
		display: inline-block
		cursor: pointer
		position: relative
		+animate(opacity, .3s)
		&:hover
			opacity: .7
		@at-root #{&}--emailNotification
			position: absolute
			top: 0
			left: 0
			opacity: 0
			width: inherit
		svg
			fill: $white
			width: 22vw
			height: 22vw
			margin: 0 1vw
// ——————————— Show or hide the menu pulldown ——————————— //
.navigation.collapsed
	.ui__button--hamburger
		display: block
	.ui__button--arrow
		display: none