@import partials/template

// ——————————— UI Basics ——————————— //
.ui
	background: $bgTransparent
	.button
		.icon
			width: 100%
			height: 100%
			stroke: $white
			stroke-width: 1
			fill: $white
	.navigationPulldown
		display: block
		width: $standardWidth
		height: $standardWidth
		position: absolute
		top: $standardHeight*4
		right: 50vw - $standardWidth * .5
		+animate(top, .3s)
		&.beforeLoad
			top: $standardHeight*3

@import partials/navigation

// ——————————— Fullscreen Basics ——————————— //
.fullscreen 
	min-height: 100%
	width: 100%
	z-index: 1
	background-size: auto 100vh
	background-position: 50% 0
	background-repeat: no-repeat
	padding-top: $standardHeight
	padding-left: $standardWidth
.intro 
	background-image: url(../images/tester.png)
	padding-top: $standardHeight * 3
.bigHeading
	font-weight: bold
	font-size: $standardHeight + 2
.smallHeading
	font-size: $standardHeight *.5