@import partials/template
.ui
	@at-root #{&}__navigationPulldown
		width: $standardWidth * .5
		height: $standardWidth * .5
		right: 50vw - $standardWidth * .25

	@at-root #{&}__navArrow
		height: $standardWidth - 3
		width: $standardWidth - 3