@import template
.ui
	.navigationPulldown
		display: block
		width: $standardWidth * .5
		height: $standardWidth * .5
		position: absolute
		top: $standardHeight*4
		right: 50vw - $standardWidth * .25

.navigation 
	.menu
		.link 
			.navArrow
				height: $standardWidth - 3
				width: $standardWidth - 3