<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ben Norskov | <%= current_page.data.title %></title>
  <link href="https://fonts.googleapis.com/css?family=Abel|Libre+Franklin" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/widescreen.css" media="screen and (min-width:800px)">
  <% if current_page.data.pageType.eql?("oldLayout") %>
    <link rel="stylesheet" type="text/css" href="stylesheets/projectpage.css" media="screen">
  <% end %>
  <link rel="icon" type="image/png" href="images/icons/favicon.png">
</head>
<body>
  <%= partial "navigation" %>
  <%= yield %>
  <script type="text/Javascript" src="javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/Javascript" src="javascripts/portfolioScript.js"></script>
</body>
</html>