<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Ben Norskov | Strategist and Interaction Designer</title>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/widescreen.css" media="screen and (min-width:800px)">
</head>
<body>
  <nav class="navigation collapsed ui">
    <ul class="menu mainMenu">
      <li class="link about">About</li>
      <li class="link slideMenuNavButton">Work
        <svg class="navArrow">
          <line x1="90%" y1="50%" x2="60%" y2="70%"></line>
          <line x1="90%" y1="50%" x2="60%" y2="30%"></line>
          <line x1="20%" y1="50%" x2="90%" y2="50%"></line>
        </svg>
      </li>
      <li class="link contact">Contact</li>
    </ul>
    <ul class="menu secondaryMenu">
      <li class="link backArrow slideMenuNavButton">
        <svg class="navArrow">
          <line x1="20%" y1="50%" x2="40%" y2="70%"></line>
          <line x1="20%" y1="50%" x2="40%" y2="30%"></line>
          <line x1="20%" y1="50%" x2="90%" y2="50%"></line>
        </svg>
      </li>
      <li class="link">Antidote</li>
      <li class="link"><a href="Kailas.html">Kailas</a></li>
      <li class="link">AMNH</li>
      <li class="link">Souvenir</li>
      <li class="link">Magnitude</li>
    </ul>
    <a class="ui button navigationPulldown beforeLoad">
      <svg class="icon hamburger">
        <line x1="30%" y1="30%" x2="70%" y2="30%"></line>
        <line x1="10%" y1="50%" x2="90%" y2="50%"></line>
        <line x1="30%" y1="70%" x2="70%" y2="70%"></line>
      </svg>
      <svg class="icon arrow">
        <line x1="30%" y1="40%" x2="50%" y2="20%"></line>
        <line x1="70%" y1="40%" x2="50%" y2="20%"></line>
        <line x1="50%" y1="20%" x2="50%" y2="90%"></line>
      </svg>
    </a>
  </nav>
  <%= yield %>
  <script type="text/Javascript" src="javascripts/jquery-3.3.1.min.js"></script>
  <script type="text/Javascript" src="javascripts/portfolioScript.js"></script>
</body>
</html>