<nav class="navigation collapsed">
    <ul class="navigation__menu navigation__mainMenu">
      <li class="navigation__menu--link"><a href="index.html">About</a></li>
      <li class="navigation__menu--link"><a href="index.html">Contact</a></li>
      <li class="navigation__menu--link slideMenuNavButton__antidote">Antidote
        <%= partial "rightNavArrow" %>
      </li>
      <li class="navigation__menu--link slideMenuNavButton__personal">Personal
        <%= partial "rightNavArrow" %>
      </li>
    </ul>
   
    <!-- -- -- -- -- -- -- -- -- -- Antidote Menu -->
    <ul class="navigation__secondaryMenu navigation__menu navigation__secondaryMenu--antidoteMenu">
      <li class="navigation__secondaryMenu--link navigation__secondaryMenu--backArrow slideMenuNavButton">
        <%= partial "leftNavArrow" %>
      </li>
      <li class="navigation__secondaryMenu--link"><a href="http://playistheantidote.com">Antidote</a></li>
      <li class="navigation__secondaryMenu--link"><a href="/kailas/index.html">Kailas</a></li>
      <!-- li class="navigation__secondaryMenu--link">Urgent Mission</li -->
      <li class="navigation__secondaryMenu--link"><a href="magnitude.html">Magnitude</a></li>
    </ul>

    <!-- -- -- -- -- -- -- -- -- -- Personal Menu -->
    <ul class="navigation__secondaryMenu navigation__menu navigation__secondaryMenu--personalMenu">
		<li class="navigation__secondaryMenu--link navigation__secondaryMenu--backArrow slideMenuNavButton">
		<%= partial "leftNavArrow" %>
		</li>
		<li class="navigation__secondaryMenu--link">Personal</li>
		<li class="navigation__secondaryMenu--link"><a href="ned.html">NED</a></li>
		<li class="navigation__secondaryMenu--link"><a href="pterosaurs.html">AMNH</a></li>
		<li class="navigation__secondaryMenu--link"><a href="http://playsouvenir.com">Souvenir</a></li>
		<li class="navigation__secondaryMenu--link"><a href="pyramid.html">Pyramidion</a></li>
    </ul>

    <!-- -- -- -- -- -- -- -- -- -- Dropdown Arrow -->
    <a class="ui__navigationPulldown beforeLoad">
      <svg class="ui__button ui__button--hamburger">
        <line x1="30%" y1="30%" x2="70%" y2="30%"></line>
        <line x1="10%" y1="50%" x2="90%" y2="50%"></line>
        <line x1="30%" y1="70%" x2="70%" y2="70%"></line>
      </svg>
      <svg class="ui__button ui__button--arrow">
        <line x1="20%" y1="40%" x2="50%" y2="10%"></line>
        <line x1="80%" y1="40%" x2="50%" y2="10%"></line>
        <line x1="50%" y1="35%" x2="50%" y2="90%"></line>
      </svg>
    </a>
</nav>