<nav class="navigation collapsed">
    <ul class="navigation__menu navigation__mainMenu">
      <li class="navigation__menu--link"><a href="index.html">About</a></li>
      <li class="navigation__menu--link slideMenuNavButton">Work
        <svg class="ui__navArrow">
          <line x1="90%" y1="50%" x2="60%" y2="70%"></line>
          <line x1="90%" y1="50%" x2="60%" y2="30%"></line>
          <line x1="20%" y1="50%" x2="90%" y2="50%"></line>
        </svg>
      </li>
      <li class="navigation__menu--link contact"><a href="index.html">Contact</a></li>
    </ul>
    
    <ul class="navigation__secondaryMenu navigation__menu">
      <li class="navigation__secondaryMenu--link navigation__secondaryMenu--backArrow slideMenuNavButton">
        <svg class="ui__navArrow">
          <line x1="20%" y1="50%" x2="40%" y2="70%"></line>
          <line x1="20%" y1="50%" x2="40%" y2="30%"></line>
          <line x1="20%" y1="50%" x2="90%" y2="50%"></line>
        </svg>
      </li>
      <li class="navigation__secondaryMenu--link">Antidote</li>
      <li class="navigation__secondaryMenu--link"><a href="Kailas.html">Kailas</a></li>
      <li class="navigation__secondaryMenu--link">AMNH</li>
      <li class="navigation__secondaryMenu--link">Souvenir</li>
      <li class="navigation__secondaryMenu--link">Magnitude</li>
    </ul>

    <a class="ui__button ui__navigationPulldown beforeLoad">
      <svg class="ui__button ui__button--hamburger">
        <line x1="30%" y1="30%" x2="70%" y2="30%"></line>
        <line x1="10%" y1="50%" x2="90%" y2="50%"></line>
        <line x1="30%" y1="70%" x2="70%" y2="70%"></line>
      </svg>
      <svg class="ui__button ui__button--arrow">
        <line x1="30%" y1="40%" x2="50%" y2="20%"></line>
        <line x1="70%" y1="40%" x2="50%" y2="20%"></line>
        <line x1="50%" y1="20%" x2="50%" y2="90%"></line>
      </svg>
    </a>
  </nav>