;;;
	"title": "Interaction Designer & Strategist"
;;;
<section class="fullscreen intro">
	<h1 class="fullscreen__bigHeading hi">Hi!</h1>
	<h1 class="fullscreen__bigHeading">I'm Ben.</h1>
	<h2 class="fullscreen__smallHeading">Let's play with what's possible</h2>
</section>
<section class="project fullscreen about">
	<h1 class="fullscreen__bigHeading">Let's get to know one another</h1>
	<p class=".fullscreen__description"></p>
</section>
<section class="project fullscreen contact">
	<h1 class="fullscreen__bigHeading">Drop a line</h1>
	<p class=".fullscreen__description">Twitter, CV, etc...</p>
</section>