;;;
	"title": "Interaction Designer & Strategist"
;;;
<section class="fullscreen intro">
	<h1 class="fullscreen__bigHeading hi">Hi!</h1>
	<h1 class="fullscreen__bigHeading">I'm Ben.</h1>
	<h2 class="fullscreen__smallHeading">Let's play with what's possible</h2>
</section>
<section class="project fullscreen about">
	<h1 class="fullscreen__bigHeading">About Me</h1>
	<p class="fullscreen__description">Ben Norskov is a play and interaction strategist based in Brooklyn. He's looking for collaborations with great people doing fantastic work. He's crafted playful communication strategy globally, and knows his way around front-end development, typography, and an ultimate frisbee field.
	</p>
	<p class="fullscreen__description">Ben has been helping NGOs and corporations craft innovative outreach strategy for the past five years as Systems Designer at Antidote Games, which he also co-founded. Antidote creates playful communication methods for clients like the Red Cross, the UN, Larsen and Toubro Infotech, the World Bank, and Innocence Project that have been deployed on five continents.
	</p>
	<p class="fullscreen__description">Ben has been invited to speak at Parsons, RISD, Syracuse University, Columbia, Reynolds Journalism Institute, Games for Change, Indiecade, and proudly Lost Levels. His personal research focuses on the ontology of game design and exploring how to create meaning and behavior change through play.</p>
	<p class="fullscreen__description">Ben is a part-time Design and Technology professor at Parsons the New School for Design. He has also taught at SVA IxD, Bloomfield College, and Long Island University.</p>
</section>
<section class="project fullscreen contact">
	<h1 class="fullscreen__bigHeading">Drop a line</h1>
	<p class=".fullscreen__description">Twitter, CV, etc...</p>
</section>