<section class="fullscreen intro">
	<h1 class="bigHeading hi">Hi!</h1>
	<h1 class="bigHeading">I'm Ben.</h1>
	<h2 class="smallHeading">Let's play with what's possible</h2>
</section>
<section class="project fullscreen contact">
	<h1 class="bigHeading">Let's get to know one another</h1>
	<p></p>
</section>
<section class="project fullscreen about">
	<h1 class="bigHeading">Drop a line</h1>
	<p>Twitter, CV, etc...</p>
</section>