;;;
	"title": "Interaction Designer & Strategist"
;;;
<section class="fullscreen intro">
	<h1 class="fullscreen__bigHeading hi">Hi!<br>I'm Ben.</h1>
</section>
<section class="fullscreen about showGradient">
	<h1 class="fullscreen__bigHeading">About Me
		<svg class="ui__aboutArrow">
			<line x1="20%" y1="70%" x2="50%" y2="100%"></line>
	        <line x1="80%" y1="70%" x2="50%" y2="100%"></line>
	        <line x1="50%" y1="30%" x2="50%" y2="75%"></line>
		</svg>
	</h1>
	<P class="fullscreen__description">
		I am a learning, play, and interaction strategist based in Brooklyn. <span class="fullscreen__description--workClick">My work</span> focuses on building understandable models of complex systems. 
	</p>
	<p class="fullscreen__description">
		As cofounder and Systems Designer at <a href="http://playistheantidote.com">Antidote</a>, I create playful communication for global nonprofits. I facilitate design thinking sessions, build <a href="https://motherboard.vice.com/en_us/article/kbzw93/what-it-was-like-to-fly-like-a-pterosaur">museum installations</a>, <a href="http://bennorskov.com/kailash/">branching narratives</a>, <a href="http://playsouvenir.com/">games</a>, and <a href="www.thebuildersassociation.org/prod_oz.html">augmented reality theater</a>. 
	</p>
	<p class="fullscreen__description">
		I'm interested in creating meaning and behavior change through play. I've spoken at SVAxD, RISD, Syracuse University, Columbia, Reynolds Journalism Institute, Games for Change, Indiecade, and Lost Levels. 
	</p>
	<p class="fullscreen__description">
		I teach <a href="https://www.newschool.edu/parsons/bfa-design-technology/">Design and Technology</a> at Parsons the New School for Design. I have also taught at International Center of Photography, Bloomfield College, and Long Island University.
	</p>
	<!-- 
	<p class="fullscreen__description">Ben Norskov is a play and interaction strategist based in Brooklyn. He's crafted playful communication strategy globally, and knows his way around front-end development, typography, and an ultimate frisbee field.
	</p>
	<p class="fullscreen__description">Ben has been helping NGOs and corporations craft innovative outreach strategy for the past five years as Systems Designer at Antidote Games, which he also co-founded. Antidote creates playful communication methods for clients like the Red Cross, the UN, Larsen and Toubro Infotech, the World Bank, and Innocence Project that have been deployed on five continents.
	</p>
	<p class="fullscreen__description">Ben has been invited to speak at Parsons, RISD, Syracuse University, Columbia, Reynolds Journalism Institute, Games for Change, Indiecade, and proudly Lost Levels. His personal research focuses on the ontology of game design and exploring how to create meaning and behavior change through play.</p>
	<p class="fullscreen__description">Ben is a part-time Design and Technology professor at Parsons the New School for Design. He has also taught at SVA IxD, Bloomfield College, and Long Island University.</p>
-->
</section>
<section class="fullscreen contact">
	
	<a class="ui__externalContact ui__externalContact--emailClick">
		<svg x="0px" y="0px" viewBox="0 0 80.9 80.9" style="enable-background:new 0 0 80.9 80.9;" xml:space="preserve">
			<path d="M40.5,0C18.1,0,0,18.1,0,40.5s18.1,40.5,40.5,40.5c22.3,0,40.5-18.1,40.5-40.5S62.8,0,40.5,0z M40.5,75.7
			C21,75.7,5.2,59.9,5.2,40.5S21,5.2,40.5,5.2c19.5,0,35.2,15.8,35.2,35.2S59.9,75.7,40.5,75.7z"/>
			<path d="M62.8,24.6H17.9c-0.6,0-1.2,0.5-1.2,1.2v29.5c0,0.7,0.5,1.2,1.2,1.2h44.9c0.7,0,1.2-0.5,1.2-1.2V25.8
			C64,25.1,63.4,24.6,62.8,24.6 M59.9,27L40.3,46.6L20.8,27H59.9z M19.1,28.6L31,40.6L19.1,52.5C19.1,52.5,19.1,28.6,19.1,28.6z
			 M20.8,54.1l11.9-11.9l6.8,6.8c0.5,0.5,1.2,0.5,1.7,0l6.8-6.8l11.9,11.9C59.9,54.1,20.8,54.1,20.8,54.1z M61.6,52.5L49.7,40.6
			l11.9-11.9V52.5z"/>
		</svg>
		<span class="ui__externalContact--emailNotification">Email copied to clipboard!</span>
	</a>
	<a href="http://github.com/bennorskov" class="ui__externalContact">
		<svg x="0px" y="0px"
		 viewBox="-563.44 -103.871 80.94 80.94" enable-background="new -563.44 -103.871 80.94 80.94"
		 xml:space="preserve">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M-522.97-22.931c-22.351,0-40.471-18.12-40.471-40.471s18.12-40.47,40.471-40.47
		s40.47,18.119,40.47,40.47S-500.619-22.931-522.97-22.931z M-522.97-98.499c-19.384,0-35.098,15.714-35.098,35.098
		c0,15.791,10.43,29.146,24.775,33.555c-0.006-0.804,0.005-5.657-0.006-6.507c-0.077-0.047-8.229,2.389-11.735-3.489
		c-0.557-0.956-1.462-4.314-3.907-6.172c-0.087-0.073-1.893-0.991-2.059-1.893c-0.019-0.125,0.116-0.389,0.294-0.454
		c0.185-0.069,3.158-1.283,6.47,2.9c0.999,1.399,3.253,6.77,11.146,3.452c0.211-0.827,0.634-2.735,3.141-3.257
		c-11.752-1.397-17.118-5.857-18.785-15.857c-1.04-6.817,0.959-12.483,3.963-15.28c-0.456-0.595-1.955-5.576,0.376-10.845
		c2.524-0.504,7.157,1.3,11.228,4.218c5.743-2.064,16.522-1.528,20.381,0c1.833-1.509,8.38-5.034,11.19-4.211
		c0.825,2.092,2.016,7.16,0.37,10.854c3.658,3.749,4.69,8.587,4.03,14.532c-0.808,9.007-6.353,15.444-18.806,16.506
		c3.137,2.151,3.275,5.52,3.384,6.848c0.026,3.098-0.036,7.312,0.003,8.646c14.329-4.419,24.742-17.766,24.742-33.545
		C-487.872-82.785-503.586-98.499-522.97-98.499z"/>
		</svg>
	</a>
	<a href="http://twitter.com/bennorskov" class="ui__externalContact">
		<svg x="0px" y="0px"
	 	viewBox="-469.5 -103.871 80.94 80.94" enable-background="new -469.5 -103.871 80.94 80.94"
	 	xml:space="preserve">
		<path d="M-429.019-103.826c-22.345,0-40.459,18.113-40.459,40.459s18.114,40.459,40.459,40.459
		c22.344,0,40.459-18.113,40.459-40.459S-406.674-103.826-429.019-103.826z M-429.019-28.129c-19.462,0-35.238-15.776-35.238-35.238
		s15.776-35.238,35.238-35.238c19.461,0,35.238,15.776,35.238,35.238S-409.558-28.129-429.019-28.129z"/>
		<path d="M-449.842-47.065c4.121,2.642,9.014,4.184,14.271,4.184c17.286,0,27.051-14.601,26.463-27.696
		c1.819-1.311,3.398-2.951,4.646-4.819c-1.67,0.74-3.465,1.241-5.347,1.466c1.921-1.15,3.398-2.975,4.092-5.151
		c-1.799,1.067-3.792,1.842-5.911,2.261c-1.699-1.81-4.118-2.94-6.797-2.94c-6.009,0-10.425,5.608-9.069,11.432
		c-7.738-0.388-14.598-4.094-19.189-9.728c-2.439,4.186-1.266,9.661,2.881,12.431c-1.527-0.048-2.964-0.468-4.218-1.165
		c-0.1,4.314,2.99,8.347,7.468,9.247c-1.311,0.357-2.747,0.438-4.203,0.159c1.183,3.7,4.621,6.39,8.696,6.466
		C-439.972-47.852-444.902-46.482-449.842-47.065z"/>
		</svg>
	</a>
	<a href="https://www.linkedin.com/in/bennorskov/" class="ui__externalContact">
		<svg x="0px" y="0px" viewBox="-375.06 -103.871 80.94 80.94" enable-background="new -375.06 -103.871 80.94 80.94" xml:space="preserve">
		<path d="M-334.595-103.826c-22.349,0-40.465,18.116-40.465,40.465c0,22.349,18.116,40.464,40.465,40.464
		c22.347,0,40.464-18.116,40.464-40.464C-294.13-85.71-312.248-103.826-334.595-103.826z M-334.595-28.119
		c-19.465,0-35.243-15.778-35.243-35.243c0-19.465,15.778-35.243,35.243-35.243c19.463,0,35.243,15.778,35.243,35.243
		C-299.352-43.897-315.131-28.119-334.595-28.119z"/>
		<rect x="-351.781" y="-70.631" width="7.904" height="25.535"/>
		<ellipse cx="-347.867" cy="-78.687" rx="4.674" ry="4.712"/>
		<path d="M-331.242-58.5c0-3.59,1.652-5.729,4.816-5.729c2.906,0,4.303,2.053,4.303,5.729c0,3.678,0,13.404,0,13.404h7.867
		c0,0,0-9.328,0-16.168s-3.877-10.146-9.291-10.146c-5.416,0-7.695,4.219-7.695,4.219v-3.439h-7.582v25.535h7.582
		C-331.242-45.096-331.242-54.566-331.242-58.5z"/>
		</svg>
	</a>
	<h1 class="fullscreen__bigHeading">Say Hello</h1>
</section>