;;;
	title: "Journey to Kailas"
;;;
<section class="project fullscreen Kailas">
	<h1 class="bigHeading">Kailas<h1>
	<p class="description">
		A mobile-first choose your own adventure about traveling to Mt. Kailas in Tibet.
	</p>
</section>