;;;
  "title": "Magnitude | Board Game Design",
  "pageType": "oldLayout"
;;;
<div class="holder-div" id="magnitude">
    <img src="images/magnitude/title.png">
	<h2>MAGNITUDE</h2>
</div>
    <div class="holder-div description">
    	<p>
        A game developed for the United Nations office of International Strategy for Disaster Reduction. Every two years the ISDR releases a Global Assesment Report detailing steps for people to take to curb disasters and hopefully prevent them from happening. Their main message was that disasters don't just happen, often they are created through a series of small missteps by both the government and populations of areas. 
		</p>
		<p>
        The game is a four to five player cooperative experience. The players are playing as government officials attempting to gain more of the United Nation's Millennium Development Goals than other nations around them. If they invest unwisely, they run the risk of Natural Hazards wiping out their work. 
		</p>
        <p>
        The final development stages of Magnitude are happening now and the game will be played at the Global Assestment Report release parties starting later this year.
        </p>
        <p>Designed with: <a href="http://www.snapindigo.com/">Michelle Jackson</a> and <a href="http://designs.lienbtran.com/">Lien Tran</a></p>	
	</div>
    <div class="holder-div magnitude">
        <img src="images/magnitude/pic1.jpg">
    </div>
    <div class="holder-div magnitude">
        <img src="images/magnitude/pic2.jpg">
    </div>
