;;;
  "title": "NED YOU REALLY SUCK THE LIFE OUT OF THE ROOM",
  "pageType": "oldLayout"
;;;
<div class="holder-div installation" id="ned">
  <img src="images/ned/title.jpg">
	<h2 class="wide">NED YOU REALLY SUCK THE LIFE OUT OF THE ROOM</h2>
</div>
<div class="holder-div description">
		<p>
        Ned You Really Suck the Life out of the Room was a game done at the 2011 Global Gam Gam at NYU. The secret theme for the game jam was extinction. Species usually don't to extict by themselves, they often have far too much help from humans. My team and I decided to create a game mechanic where the levels themselves go extinct, but the person that was making them do it was the main character. 
		</p>   
    <p>
    The mechanics are simple, get the colored blocks and the coresponding colored part of the level also disappears. Once you collect the last block, you have a brief second to contemplate your actions before you fall into nothingness. You can play at the <a href="http://globalgamejam.org/2011/ned-you-really-suck-life-out-room">Global Game Jam Site</a>.
    </p>
    <p>The game was awarded Most Potential, Judges Choice, and Best Overall at the largest Game Game Location in the United States. It was also selected as a <a href="http://gamesauce.org/news/2011/02/02/gamesauce-challenge-announces-global-game-jam-winners/">Gamesause Winner</a>.  
    <p>Designed with: Chris Makris, Matthew LoPresti, Randall Li, and Roger Cheng</p>	
</div>
<div class="holder-div ned">
  <img src="images/ned/pic1.jpg">
</div>
<div class="holder-div ned" id="pic2">
  <img src="images/ned/pic2.jpg">
</div>
<div class="holder-div ned" id="pic3">
  <img src="images/ned/pic3.jpg">
</div>
