;;;
  "title": "Kinect Museum Installation",
  "pageType": "oldLayout"
;;;
<div class="holder-div games">
	<img src="images/pterosaurs/title.jpg">
	<h2>Fly Like a Pterosaur</h2>
</div>
<div class="holder-div description">
	<p>
   	An installation at the American Museum of Natural History. This was an exhibit that had thousands of visitors per day over the course of several months at the American Museum of Natural History. The exhibit was reviewed favorably by the New York Times, Vice's Motherboard, and many other publications. 
  </p>
  <p>
      I worked on the programming, developed the game feel, and environmental design for two Kinect games as well as an interactive display that demostrated the mechanics of lift using a Leap Motion controller. 
  </p>    
</div>
<div class="holder-div">
	<img src="images/pterosaurs/pic1.jpg">
</div>
<div class="holder-div">
	<img src="images/pterosaurs/pic2.jpg">
</div>
<div class="holder-div">
	<img src="images/pterosaurs/pic3.jpg">
</div>
