;;;
  "title": "Pyramidion | Board Game Design",
  "pageType": "oldLayout"
;;;

<div class="holder-div games" id="pyramid">
	<h2>PYRAMIDION</h2>
</div>
<div class="holder-div description">
    <p>A game designed to simulate the process of constructing a pyramid through play. Players start with a hand of  cards, which are used to take several actions ranging from hiring workers to taking gems from the Pharaoh's treasury. Upon having the required workers for a level of the pyramid, the workers build that layer, dying in the process.
    </p>
    <p>
    Players are competing to be the first to cap their pyramid with the capstone of their pyramid, called the Pyramidion. When the Pharaoh's gems are gone, he visits the worksite causing all work to cease. Strategically stealing other's workers and preparing for the ineveitible Pharaoh's visit will ensure your victory.
    </p>    
    <p>Designed with: <a href="http://thewilliamanderson.com/">William Anderson</a> and <a href="http://katreilly.com/">Kat Reilly</a></p>
</div>
<div class="holder-div pyramid" id="pic1">
</div>
<div class="holder-div pyramid" id="pic2">
</div>
<div class="holder-div pyramid" id="pic3">
</div>
