;;;
  "title": "Trade Show Booth Interactive Wall",
  "pageType": "oldLayout"
;;;
<div class="holder-div installation" id="wall">
	<h2 class="wide">WALL OF SPIRITUALITY</h2>
</div>
<div class="holder-div description">
		<p>
        The Interactive Wall of Spirituality was commissioned by Southern Adventist University to be displayed during the Seventh-day Adventist world-church conference at the Georgia World Congress Center. The interactive wall was displayed for 10 days with exposure to over 65,000 attendees
		</p>   
    <p>
      It was created with Openframeworks. I worked on the OpenCV code that mapped user's movements to the wall and also image-warping software to curve the projected image to the curved screen.
    </p>
    <p>
      Designed with: <a href="http://kenwillesdesign.com/">Ken Willes</a>, <a href="http://michaelreynolds.net/">Michael Reynolds</a>, and <a href="http://jasonlangdesign.com/">Jason Lang</a>
    </p>	
</div>
<div class="holder-div wall" id="pic1">
    <iframe src="http://player.vimeo.com/video/13205055" width="800" height="400" frameborder="0"></iframe>
</div>
